.Pill {
  font-family: "JetBrains Mono SemiBold", sans-serif;
  width: fit-content;
  height: fit-content;
  background-color: #d7d7d7;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  border-radius: 0.5rem;
  color: #222020;
  cursor: default;
}
